body{
  background-color: #F0CEA0;

}
h1{
  text-align: center;
  color: #2C365E;
  font-size: 42px;
  font-family:'Bree Serif', serif;
}
img{
  border-radius: 15%;
  margin-left: 125px;
}
ul, .trailer{
  color: #2C365E;
  font-size: 17px;
  font-family:'Bree Serif', serif;
  margin-left: auto;
  text-align: center;
}
.table, .table2{
  margin-left: auto;
  margin-right: auto;
  display: table;
}
